@media screen and (max-width: 1600px) {
    #datos-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 950px) {
    #datos {
        width: 80%;
        /* width: 90%; */
        /* width: 100%; */
        overflow-x: hidden;
        overflow-y: clip;
        padding: 0 10% 10px;
    }

    #datos-grid {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card {
        padding-bottom: 30px;
        min-height: 150px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }

    .fecha {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .flecha {
        margin: 40px 0;
    }

    #img-countdown img {
        width: 400px;
    }

    #countdown h3 {
        font-size: 25px;
    }

    .countdown-number {
        font-size: 30px;
    }

    .countdown-label {
        font-size: 12px;
    }

    #datos h2 {
        font-size: 45px;
    }

    .frase-container {
        margin: 5em 0;
        width : 80%;
    }

    #toggle-audio{
        bottom: 20px;
        right: 20px;
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 410px) {
    #img-countdown img {
        width: 320px;
    }

    #countdown h3 {
        font-size: 23px;
    }

    .countdown-number {
        font-size: 20px;
    }

    .countdown-label {
        margin-top: -5px;
        font-size: 10px;
    }
}